.transition-enter {
    backdrop-filter: blur(5rem);
    /* width: 100vh; */
    opacity: 0;
    position: absolute;
    z-index: 500;
}

.transition-enter.transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}